
*{
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.image{
    width: 8%;
    padding-left: 20px;
}
.htext{
    font-size: 20px;
}
button:hover{
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.center{
    text-align: center;
}
.main_text{
    padding-inline: 50px;
    font-size: 20px;
    line-height: 1.5;
}
.main_text li a{
    text-decoration: none;
}
.main_text li{
    list-style: none;
}
.btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: grey;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #0056b3;
}
.sidebar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}
.sidebar-nav{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 20px;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    flex: 4;
}
img{
    max-width: 100%;
}
.sidebar-button{
    border: 1;
    border-radius: 20px;
    background-color: transparent;
    font-size: 24px;
    padding: 10px;
    transition: 0.2s;
}
.sidebar-button:hover{
    background-color: rgb(226, 225, 225);
}
.sidebar-button.active{
    background-color: rgb(52, 170, 103);
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}
.highlight { 
    background-color: yellow; 
}
#header1 { 
    font-size: 24px; 
}
.css-styles p{
    font-size: 24px;
    font-style: italic;
}